<html><h1>Running in <%= @node.chef_environment %> mode.</h1></html>
<pre>This <%= node['platform'] %> <%= node['platform_version'] %> <%= node['os'] %> system version <%= node['os_version'] %> listening on <%= node['ipaddress'] %> is up since <%= node['uptime'] %></pre>
